ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
    width:3rem;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
